<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/first.css') }}">
    <link rel="shortcut icon" type="image/jpg" href="farmer-icon.ico">
    <title>Hara Jeewan</title>
    
</head>
<body>
    <nav>
        <div style="font-size: 23px;" >
            &nbsp;
        
        <a href="#" target="_blank">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/home" >Crop Suggestion</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" target="_blank">Farming Techniques</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" target="_blank">Modern Irrigation Techniques</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" target="_blank">Organic Farming</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" target="_blank">Government Policies</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" target="_blank">Weather</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-----    <a href="#" target="_blank">Latest News</a>&nbsp;&nbsp;&nbsp;&nbsp; ---->
        <a href="#" target="_blank">Queries</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" target="_blank">Feedback/Suggestions</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="login-page.html" target="_blank">Sign In/Sign Up</a>

    </div>
    </nav>
    <header class="header"> 
        <h1 class="head">HARA JEEWAN</h1>
        <h4 class="head">Jai Javaan, Jai Kisaan..</h4>
        <br>
        <center>
        <h3 class="search">Search <input  type="text" placeholder="search here"></h3>
        </center>
            <h3 class="lan">Language <input type="text" placeholder="Language">
                <select name="" class="lan" aria-placeholder="language" >
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
                <option value="Punjabi">Punjabi</option>
            </select>
            </h3>
    </header>
   
    <main>
        <section class="sec">
            <hr>
            <h1 class="head">ABOUT FARMING</h1>
            <table>
                <tr>
                    <th>
                        <figure>
                            <p><img src="https://images.unsplash.com/photo-1574943320219-553eb213f72d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=982&q=80" alt="Farming" width="70%" class="image"><br></p>
                            <figcaption>
                                <p class="text">Farming is growing crops or keeping animals by people for food and raw materials. Farming is a part of agriculture.
                         
                                    Agriculture started thousands of years ago, but no one knows for sure how old it is.[1] The development of farming gave rise to the Neolithic Revolution whereby people gave up nomadic hunting and became settlers in what became cities.</p>
                            </figcaption>
                        </figure>
                        </th>
                        <th>
                        <figure>
                            <p><img src="https://images.unsplash.com/photo-1481555716071-8830d3e254ba?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="Farming" width="45%" class="image"><br></p>
                            <figcaption>
                                <p class="text"><p class="text">Agriculture and domestication probably started in the Fertile Crescent (the Nile Valley, The Levant and Mesopotamia).[2] The area called Fertile Crescent is now in the countries of Iraq, Syria, Turkey, Jordan, Lebanon, Israel, and Egypt. Wheat and barley are some of the first crops people grew. People probably started agriculture slowly by planting a few crops, but still gathered many foods from the wild. People may have started farming because the weather and soil began to change. Farming can feed many more people than hunter-gatherers can feed on the same amount of land.</p>
                            </figcaption>
                        </figure>                        
                    </th>
                </tr>
            </table>
            <br><br>
        <hr color="grey">
           <h1 class="head">CROPS</h1>
           <br>
           <table>
               <tr>
                   <th>
                       <figure>
                           <p>
                            <img src="https://images.unsplash.com/photo-1437252611977-07f74518abd7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8d2hlYXR8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" alt="Wheat" class="image" >
                            <h3 class="head">Wheat</h3></p>
                            <figcaption>
                                <p class="text">Wheat is a grass widely cultivated for its seed, a cereal grain which is a worldwide staple food.[2][3][4] The many species of wheat together make up the genus Triticum; the most widely grown is common wheat (T. aestivum). The archaeological record suggests that wheat was first cultivated in the regions of the Fertile Crescent around 9600 BCE. Botanically, the wheat kernel is a type of fruit called a caryopsis.</p>
                            </figcaption>
                       </figure>
                   </th>
                   <th>
                       <figure>
                           <p></p>
                           <img src="https://images.unsplash.com/photo-1502395809857-fd80069897d0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y290dG9ufGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" alt="cotton"  class="image" >
                           <h3 class="head">Cotton</h3>
                            <figcaption>
                                <p class="text">Cotton is a soft, fluffy staple fiber that grows in a boll, or protective case, around the seeds of the cotton plants of the genus Gossypium in the mallow family Malvaceae. The fiber is almost pure cellulose. Under natural conditions, the cotton bolls will increase the dispersal of the seeds.

                                    The plant is a shrub native to tropical and subtropical regions around the world, including the Americas, Africa, Egypt and India. The greatest diversity of wild cotton species is found in Mexico, followed by Australia and Africa.[1] Cotton was independently domesticated in the Old and New Worlds.</p>
                            </figcaption>
                            <br>
                       </figure>
                   </th>
               </tr>
               
               <tr>
                   <th>
                       <figure>
                           <p>
                            <img src="https://images.unsplash.com/photo-1561504935-4e7d4516a2d1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8cmljZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="rice"  class="image">
                            <h3 class="head">Rice</h3>
                           </p>
                           <figcaption>
                            <p class="text">Rice is the seed of the grass species Oryza sativa (Asian rice) or less commonly Oryza glaberrima (African rice). As a cereal grain, it is the most widely consumed staple food for a large part of the world's human population, especially in Asia and Africa. It is the agricultural commodity with the third-highest worldwide production (rice, 741.5 million tonnes in 2014), after sugarcane (1.9 billion tonnes) and maize (1.0 billion tonnes).</p>
                           </figcaption>
                       </figure>
                   </th>
                   <th>
                       <figure>
                           <p>
                               <img src="https://images.unsplash.com/photo-1604910606831-256d4906ab64?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fG1hbmdvfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Mango" width="35%" class="image">
                               <h3 class="head">Mango</h3>
                               <figcaption>
                                   <p class="text">A mango is a stone fruit produced from numerous species of tropical trees belonging to the flowering plant genus Mangifera, cultivated mostly for their edible fruit. Most of these species are found in nature as wild mangoes. The genus belongs to the cashew family Anacardiaceae. Mangoes are native to South Asia,[1][2] from where the "common mango" or "Indian mango", Mangifera indica, has been distributed worldwide to become one of the most widely cultivated fruits in the tropics. Other Mangifera species (e.g. horse mango, Mangifera foetida) are grown on a more localized basis.</p>
                               </figcaption>
                           </p>
                       </figure>
                   </th>
               </tr>
           </table>
        <br><br>
        <hr color="grey">
        <h1 class="head">Our Mission</h1>
        <br><br>
        <table>
            <tr>
                <th>
                    <figure>
                        <p><img src="https://images.unsplash.com/photo-1606711387932-5ba25bbad5e6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGlycmlnYXRpb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="irrigation" width="100%"></p>
                    <figcaption class="fig1">
                        <h1>Farmer Irrigation</h1>
                    </figcaption>
                    <br>
                    </figure>
                </th>
                <th>
                    <figure class="fig-cen">
                        <p><img src="https://images.unsplash.com/photo-1605000797499-95a51c5269ae?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZmFybWVyc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="farmers" width="100%" ></p>
                    <figcaption class="fig2">
                        <h1>No Farmers, no food !!</h1>
                    </figcaption>
                    </figure>
                </th>
            </tr>
        </table>
        </section>
    </main>
    <footer class="footer">
        <br>
        <h3 class="head">HARA JEEWAN</h3>
        <p class="para">It is the newly website made by Us. We are three people in this project who worked on this project for the farmers.</p>
        <br><br>
        <a href="https://www.youtube.com/channel/UC0eNwX8qwnbRaNQB_SNZC9g">Youtube</a>&nbsp;&nbsp;| &nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/jahanvi-arora-3130931b6/">Linkedin</a>&nbsp;&nbsp;| &nbsp;&nbsp;
        <a href="https://www.facebook.com/jahanvishvam">Facebook</a><br>
        <br>
        <div class="footer">
            <a href="#" >FAQ</a>&nbsp;&nbsp;| &nbsp;&nbsp;
            <a href="#" >Contact Us</a>&nbsp;&nbsp;| &nbsp;&nbsp;
            <a href="#" >Email us at xyz@gmail.com</a>
        </div>
        <br>
        <a href="#">&copy;copyright . All rights are reserved.</a>
        <br><br>
    </footer>
</body>
</html>